ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    font-size: 19px;
  }
  
  li a{
    display: block;
    width: 60px;
    padding: 14px 16px;
    Text-align: center;
    Text-decoration: none;
  }
  
  li {
    display: inline;
    float: left;
  }
  
  
  /*ul {
    word-spacing: 10px;
  }
     */
  
     .headerBg {
      display: flex !important;
      background-image: url("../1_image/header.png");
      background-position: bottom left;
      display: flex;
      list-style: none;
  }
  
  ul {
    padding-inline-start: 25rem;
  }
  body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
  }
  a {
    color: rgb(255, 255, 255);

  }
  p {
    color: rgb(255, 255, 255);
  }

  #Backround {
    top:-20px;
    z-index: 80;
  }
  
  #Logo {
    position:absolute;
    left:0px;
    top:-30px;
}

#text{
    z-index: 100;
    position:absolute;
    left: 250px;
    bottom: 200px;
  }