body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
  }
  a {
    color: rgb(255, 255, 255);

  }
  p {
    color: rgb(255, 255, 255);
  }

  #Backround {
    top:-20px;
    z-index: 80;
  }

  /*.meny {
    list-style: none;
    display: flex;
    right: 100px;
  }*/
/*
  .topnav a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
*/
  #Logo {
    position:absolute;
    left:0px;
    top:-30px;
}

  #om_oss{
    z-index: 100;
    position:absolute;
    bottom: 100px;
    left: 1000px;
  }

  #shop{
    z-index: 100;
    position:absolute;
    bottom: 100px;
    left: 600px;
  }

  #timer{
    z-index: 100;
    position:absolute;
    bottom: 100px;
    left: 200px;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
  overflow: hidden;
  font-size: 18px;
}

li a{
  display: block;
  width: 60px;
  padding: 14px 16px;
  Text-align: center;
  Text-decoration: none;
}

li {
  display: inline;
  float: left;
}


/*ul {
  word-spacing: 10px;
}
   */

   .headerBg {
    display: flex !important;
    background-image: url("../1_image/header.png");
    background-position: bottom left;
    display: flex;
    list-style: none;
}

ul {
  padding-inline-start: 25rem;
}



